PORT = '1990'
MONGODB_URI = 'mongodb connection string'
MONGODB_DBNAME =  'mongodb database name'
JWT_ACCESS_SECRET = 'access token secret'
JWT_REFRESH_SECRET = 'access token secret'
ACCESS_EXPIRES_IN = '15m'
REFRESH_EXPIRES_IN = '7d'